@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

html, body {
    font-family: 'Raleway', sans-serif;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline: none
}
/* 
    navbar
*/


.nav-link {
    margin: 0 1em;
}

.home-image {
    height:100%;
    position: relative;
}
// dashboard
.dashboard-link-host {
    cursor: pointer;
    padding: 1em 0;
    font-weight: 600;
}

/* 
    stars
*/

.score {
    display: block;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .score-wrap {
    display: inline-block;
    position: relative;
    height: 19px;
  }
  
  .score .stars-active {
    color: #EEBD01;
    position: relative;
    z-index: 10;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .score .stars-inactive {
    color: grey;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke: initial;
    /* overflow: hidden; */
  }

  /* 
    paganition
  */

  .pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
  }
  
  .pagination a {
    padding: 10px;
    border-radius: 5px;
    // border: 1px solid #DD6B20;
    color: #DD6B20;
  }
  
  .pagination__link {
    font-weight: bold;
    outline: none !important;
  }
  
  .pagination__link--active a {
    color: #fff;
    background: #DD6B20;
  }
  
  .pagination__link--disabled a {
    color: rgb(198, 197, 202);
    // border: 1px solid rgb(198, 197, 202);
  }
  li.link {
      display: none;
  }